<div class="problem-card">
    <h2 class="problem-card-title"> <%=cardTitle%> </h2>
    <p class="problem-card-text"> <%=problemText%> </p>

    <p class="problem-card-subtitle">SUBJECT MATTER</p>
    <p class="problem-card-text"> <%=subjectMatter%></p>
    <button type="button" class="problem-card-button" href=<%=problemLink%> target="/blank">Resources</button>
</div>