<div class="rules-spread-2-wrapper">
    <h2 class="rules-text-title">
        Who can participate?
    </h2>
    <p class="rules-text-subtitle">PARTICIPATION ELLIGIBILITY</p>
    <p class="rules-text-paragraph">Lorem ipsem dolor molestie aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed condimentum eu nisi non cursus. Nunc suscipit, 
        justo eget mattis commodo, dolor augue varius velit, sed sagittis lorem magna non arcu. Etiam non nunc a urna volutpat imperdiet eget ac massa. In eget lorem lacus. Donec cursus mattis purus,
        vel tempus turpis ullamcorper maximus. In tempor egestas mauris id tempor.</p>
</div>
