<div id="participate" class="rules-spread-2-wrapper">
    <h2 class="rules-text-title">
        Who can participate?
    </h2>
    <p class="rules-text-subtitle">PARTICIPATION ELLIGIBILITY</p>
    <p class="rules-text-paragraph">Official Citizenship is not a criterion for participation. All students with an Indian background who wish to represent Team India at the international platform are allowed to participate in the InYPT. Students 
        in high school - from 9th grade to 12th grade - are elligible participants. Students who have entered a previous season of InYPT and are still in high school may re-enter the ongoing season. </p>
</div>
