<div id="cost" class="rules-spread-3-wrapper">
    <h2 class="rules-text-title">
        How much does it cost?
    </h2>
    <p class="rules-text-subtitle">COSTS AND TOUR EXPENSES</p>
    <p class="rules-text-paragraph">The <u>Indian</u> Young Physicists' Tournament is <strong>free</strong> for all participants. However, participation at the <u>International</u> Young Physicsists' Tounrament (IYPT) comes with a <em>registration fee and other expenses.</em> 
        InYPT is a young tournement, still seeking an autonomous status. All work in maintaining and operating the tournament is done by volunteers. Nurturing and rewarding genuine Indian talent in experimental physics is the primary aim of the tournament. 
        Expressing that talent on the international platform comes with the following costs:
        <br>
        <ul>
            <li>Team Registration and Participation Fees - ₹50,000</li>
            <li>Personal Travel Expenses - ₹50,000 - ₹80,000 <br>
                The travel costs vary according to the host nation.<br>
                Total Costs for IYPT - ₹1.0L - ₹1.3L
            </li>
            
        </ul>
        
    </p>
</div>
