<div class="rules-spread-1-wrapper">

    <div class="row">
        <div class="rules-spread-1-textintro col-md-8">
            <h2 class="rules-spread-1-title">
                Rules and Requirements
            </h2>
            <p>
                Suspendisse bibendum molestie aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed condimentum eu nisi non cursus. Nunc suscipit, justo eget mattis commodo, dolor augue varius velit, sed sagittis lorem magna non arcu. Etiam non nunc a urna volutpat imperdiet eget ac massa. In eget lorem lacus.
                Donec cursus mattis purus, vel tempus turpis ullamcorper maximus. In tempor egestas mauris id tempor.
            </p>
        </div>

        <div class="rules-spread-1-anchorlinks col-md-4">
            
                <div class="rules-spread-1-anchorlinks-wrapper">
                    <a href="#">Participant Elligibility</a>
                
                
                    <a  href="#">Tournament Costs</a>
                
                
                    <a href="#">InYPT Guidelines</a>
                </div>
                
        </div>
    </div>
</div>