<div class="rules-spread-1-wrapper">

    <div class="row">
        <div class="rules-spread-1-textintro col-md-12">
            <h2 class="rules-spread-1-title">
                Rules and Regulations
            </h2>
            <p> The following are the official working rules and regulations of the Indian Young Physicists’ Tournament (InYPT), hereby also referred to as <em>'the tournament' or 'tournament'.</em> 
                The Evaluation Board deals with matters relating to selection, whose decision on all matters is final. The tournament reserves the right to take any decision in the interest of ensuring the highest standards for the Indian Team.</p>
        </div>

        <div class="rules-spread-1-anchorlinks col-md-4">
            
                <div class="rules-spread-1-anchorlinks-wrapper">
                    <a href="#scoresheet">Round 1 Scoring Metrics</a>


                    <a href="#participate">Participant Elligibility</a>
                
                
                    <a  href="#cost">Tournament Costs</a>
                
                
                </div>
                
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 regulations-div">

            <h4>Permitted Content
                </h4>
            
                <ul style="margin-left: 2.5rem;">
                    <li>In the submission rounds, participants are required to turn in solutions to any one of the problems. 
                    Round 1 is the first submission round (SR1), and Round 2 is the second submission round (SR2).</li>
                    <li>The content in the submission rounds will permit representative media such as <u>text, images, and videos.</u></li>
                <li>Additional media such as CAD renders, python simulations, and other such representation is permitted; however, it is advised to include screen captures of these instead of the complex files in your presentations. </li>
            <li>  It is advised to utilise ample visual media to demonstrate experiments which are backed with data. We also expect to view this data in charts, graphs, and other representations.</li>
                </ul>
                <p>
                    Utilising the work of other researchers as a reference is permitted,<em> only so long as the citation is mentioned. </em> It is advised to contribute original scientific work, though. 
                    Any plagiarism will result in an <strong> immediate elimination</strong>. 
                </p>

                
            <h4>Rounds and Deadlines</h4>
        
            <ul style="margin-left: 2.5rem;">
                <li> <strong>Round One - Submission Round 1</strong> <br> <u>Begins</u> - 3rd October, 2021.
                    <br> <u>Ends</u> - 2nd November, 2021.
                    <br>
                    All submissions are due on the <em>2nd November</em> for round one. InYPT will start accepting submissions from 3rd October for this round. 
                    <br>
                    This is an elimination round. Shortlisted participants will proceed to round two.
                </li>
                

                <li> <strong>Round Two - Submission Round 2</strong> <br> <u>Begins</u> - 5th November, 2021.
                    <br> <u>Ends</u> - 4th December, 2021.
                    <br>
                    All submissions are due on the <em>2nd November</em> for round one. InYPT will start accepting submissions from 3rd October for this round. 
                    <br>
                    This is an elimination round. Shortlisted participants will proceed to round two.
                </li>
            </ul>
            
                <h4>Mode of Submissions</h4>
                <p>All Submissions will be made via the Submissions Section of the <a href="https://inypt-participant-dash.herokuapp.com/" target="/blank">InYPT Portal</a>  accessible with your login. 
                </p>

                <h4>The Problems of the InYPT</h4>
                <p>The problems of the InYPT are selected from the 17 IYPT problems that are finalized by the International Organizing Committee (IOC) of the IYPT. All 17 problems are used in the InYPT rounds.
                </p>

                <ul style="margin-left: 2.5rem;">
                    <li><strong>Submission Round 1 - Free Problem Choice</strong>
                    <br>
                    Participants may choose any of the 17 problems found here. 

                </li>

                <li><strong>Submission Round 2 - Designated Problem
                </strong>
                    <br>
                    Participants shortlisted for the second round will be given a problem by the Evaluation Board from one of the 17 problems. 
                </li>

                </ul>


                <h4>Evaluation Board
                </h4>
                <p>The Evaluation Board is nominated and organized by the Tournament Committee. The Evaluation Board is composed of team leaders, independent jurors and past IYPT participants. The Jury consists of at least two members, if possible from different IYPT seasons.</p>

                <h4> Agenda of the Physics Fight Rounds
                </h4>
                <strong>Round 3 - Physics Fight Round
                </strong>

                <p><em>Round 3 will consist of participants that clear the second submission round</em> and enter the first physics fight round. It is a closer representation of the IYPT’s Physics Fight Format. 
                </p>

                <ul style="margin-left: 2.5rem;">
                    <li>The basic flow of a round toggles between a Reporter and an Opponent. The Reporter presents their solution on a given problem. This is called the <em>Presentation</em> of the report.
                    </li>

                    <li>This is followed by the Opponent following up with a few questions - <em>Questions of the Opponent to the Reporter and answers of the Reporter.</em> After these questions, the Opponent gets 5 minutes to prepare for their presentation. 
                    </li>
                    <li>The Opponent then reviews the Reporter’s work in what is called <em>Opponent Speech.</em> </li>
                    <li>This is finally concluded by a session in which the Reporter and Opponent both have the floor together, discussing the physics of the problem to each other as if they were in a coffee shop - <em>Discussion between the Reporter and the Opponent.</em>
                    </li>
                </ul>

                <h4>Grading</h4>

                <p>After each stage the Evaluation Board grades the participants,
                     taking into account all presentations, questions and answers to the questions, and participation in the discussion. 
                    <br>
                    The scoresheet and metrics for the basis of review will be updated according to the rounds. 

                    

                </p>
                <p style="font-size:18px"> <u>Round 1 - Scoresheet</u></p>

                <div class="scoresheet-table-wrapper">
                 <table id="scoresheet" class="table score-table">
                    <caption>Total Score (out of 28) = phenomenon explanation + theory/model + relevant experiments + own contribution</caption>
                    <thead>
                      <tr>
                        <th scope="col">score</th>
                        <th scope="col">phenomenon 
                            explanation</th>

                        <th scope="col">theory/model</th>
                        <th scope="col">relevant 
                            experiments</th>
                        <th scope="col">own contribution</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="cell-right-border">1-2</th>
                        <td>almost no</td>
                        <td>almost no</td>
                        <td>too few</td>
                        <td>others’ data, incorrectly cited</td>
                      </tr>
                      <tr>
                        <th scope="row" class="cell-right-border">3</th>
                        <td>some</td>
                        <td>some</td>
                        <td>some</td>
                        <td>review of sources,  cited</td>
                      </tr>

                      <tr>
                        <th scope="row" class="cell-right-border">4</th>
                        <td>fair</td>
                        <td>fair</td>
                        <td>fair</td>
                        <td>some own input</td>
                      </tr>

                      <tr>
                        <th scope="row" class="cell-right-border">5</th>
                        <td>good</td>
                        <td>good</td>
                        <td>well performed,
                            sufficient number</td>
                        <td>+ some interesting results </td>
                      </tr>

                      <tr>
                        <th scope="row" class="cell-right-border">6</th>
                        <td>detailed
                            demonstrative</td>
                        <td>quite detailed, 
                            correct</td>
                        <td>+ results explained 
                            errors analysed</td>
                        <td>considerable experimental 
                            <u>or</u> theoretical</td>
                      </tr>

                      <tr>
                        <th scope="row" class="cell-right-border">7</th>
                        <td>deep and comprehensible, 
                            shows physical insight</td>
                        <td>detailed, complex, 
                            completely testable</td>
                        <td>+ reproducible, 
                            convincing analysis</td>
                        <td>considerable experimental
                        <u>and</u> theoretical</td>
                      </tr>
                      
                    </tbody>
                  </table>
                </div>
                
            </div>
    </div>
</div>