<div class="spread-4">

    <div class="spread-4-cards">

        <div class="spread-4-card">
            <div class="spread-4-card-img-wrapper">
                <img class="spread-4-card-img" src="/signup.svg" alt="signup">
            </div>

            <div class="spread-4-card-text-wrapper">
                <h2>Register</h2>
                <p> Begin by registering with InYPT. Your registration will lead you to a portal. Remember to save your login details and head back to the website for more details.
                     Login at the portal and discover the process with InYPT’s Academy on your personal dashboard.</p>
            </div>


        </div>

        <div class="spread-4-card center-card">
            <div class="spread-4-card-img-wrapper">
                <img class="spread-4-card-img" src="/aboutus.svg" alt="about">
            </div>

            <div class="spread-4-card-text-wrapper">
                <h2>About</h2>
                <p> Learn more about the tournament, the format, and other moving pieces involved in the working of the Indian Tournament. </p>
            </div>


        </div>

        <div class="spread-4-card">
            <div class="spread-4-card-img-wrapper">
                <img class="spread-4-card-img" src="/problems.svg" alt="problems">
            </div>

            <div class="spread-4-card-text-wrapper">
                <h2>Problems</h2>
                <p> The workflow for any participant revolves around solving 17 open ended problems prescribed by IYPT.
                     For all rounds of the Indian Tournament, we will be utilising the same problem set. We’ve curated an easy page with the details necessary for understanding them entirely. </p>
            </div>


        </div> 

    </div>

</div>