<div class="spread-5">
    <h2 class="spread-5-title">Tournament Timeline</h2>
    <div class="spread-5-timeline-wrapper">
        <img class="spread-5-timeline" src="/project-timeline.svg" alt="timeline">
    </div>

</div>