<div class="spread-1">
    <div class="spread-1-content-wrapper">

        <div class="spread-1-graphic-wrapper">
            <img class="spread-1-graphic" src="opening-graphic.svg" alt="">
        </div>

        <div class="spread-1-text-wrapper">
            <h1 class="spread-1-title">
                The only experimental physics tournament in India
            </h1>
            <p class="spread-1-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis tristique orci, ut venenatis nisl. Cras efficitur sed libero, etiam quis tristique orci, ut venenatis nisl. </p>
            <div class="spread-1-buttons">
                <button type="button" class="primary-btn">Participate Now</button>
                <button type="button" class="secondary-btn">Regulations</button>
            </div>
        </div>

    </div>
    
    
</div>