<div class="spread-3">
    <h2 class="spread-3-title">
        InYPT nurtures a solid research methodology
    </h2>
    <div class="spread-3-truthbox">
        <div class="truthbox-content-wrapper">

            <div class="truthbox-1">
                <h3 class="spread-3-truthbox-title ">Show your on-field skill in the pursuit of the physical sciences
                </h3>
                <p class=""> The problem crunching formal of most intellectual competitions for the natural sciences doesn’t delve into the important aspect of research. Demonstrate your skill
                     in conducting meaningful experiments and correlating them to the purpose of your research.  
                </p>
            </div>
            
            <div class="truthbox-2">
                <h3 class="spread-3-truthbox-title">Step on an international platform that recognises your experimental potential</h3>
                <p class="">InYPT provides an opportunity for the best participants to represent the Indian National Team at the International Young Physicists’ Tournament. The IOC Member for India, Shashikant Pandey, is the Chief Trustee at InYPT.
                     Compete against the finest teams in the world, participating in a the biggest event for research-based physics. 
                </p>
            </div>
            

            <div class="truthbox-3">
                <h3 class="spread-3-truthbox-title">Build a demonstrable proficiency of your skill in research-oriented competitions</h3>
                <p class="">The most important part of the competition is the opportunity to learn and enrich your existing skills. The competition works on a Physics Fight format that is typical to discussions and academic debates that typically occur later in academic careers.
                     This tournament brings that experience to highschool students. The tournament and its format has been recognised by the Massachusetts Institute of Technology as an important enrichment opportunity. 
                </p>
            </div>
            
        </div>
    </div>

    <div class="truthbox-toggle-buttons">
        <div id="toggle1" class="truthbox-toggle-btn truthbox-toggle-btn-selected-colors">
            <div class="truthbox-toggle-btn-img">
                <img class="truthbox-btn-img-vector" src="/powerpen.svg" alt="powerpen">
            </div>
            <div class="truthbox-toggle-btn-text">
                <p class="truthbox-btn-text-title">
                    Experimental Physics
                </p>
                <p class="truthbox-btn-text-para">
                    DEMONSTRATE
                </p>
            </div>
        </div>

        <div id="toggle2" class="truthbox-toggle-btn center-toggle-btn truthbox-toggle-btn-unselected-colors">
            <div class="truthbox-toggle-btn-img">
                <img class="truthbox-btn-img-vector" src="/experimentlab.svg" alt="powerpen">
            </div>
            <div class="truthbox-toggle-btn-text">
                <p class="truthbox-btn-text-title">
                    International Recognition
                </p>
                <p class="truthbox-btn-text-para">
                    PARTICIPATE
                </p>
            </div>
        </div>

        <div id="toggle3" class="truthbox-toggle-btn truthbox-toggle-btn-unselected-colors">
            <div class="truthbox-toggle-btn-img">
                <img class="truthbox-btn-img-vector" src="/macintosh.svg" alt="powerpen">
            </div>
            <div class="truthbox-toggle-btn-text">
                <p class="truthbox-btn-text-title">
                    Enrichment Opportunities
                </p>
                <p class="truthbox-btn-text-para">
                    LEARN
                </p>
            </div>
        </div>

    </div>


</div>

<script>
    //Toggle Buttons
    const toggle1 = document.getElementById('toggle1');
    const toggle2 = document.getElementById('toggle2');
    const toggle3 = document.getElementById('toggle3');

    // Truthbox content selection

    const items1 = document.querySelector(".truthbox-1");
    const items2 = document.querySelector(".truthbox-2");
    const items3 = document.querySelector(".truthbox-3");

    toggle1.addEventListener('click', function(){
            items1.style.display="block"
            items2.style.display="none"
            items3.style.display="none"

            toggle1.classList.remove('truthbox-toggle-btn-unselected-colors');
            toggle1.classList.add('truthbox-toggle-btn-selected-colors')

            toggle2.classList.remove('truthbox-toggle-btn-selected-colors');
            toggle2.classList.add('truthbox-toggle-btn-unselected-colors')
            toggle3.classList.remove('truthbox-toggle-btn-selected-colors');
            toggle3.classList.add('truthbox-toggle-btn-unselected-colors')

    })

    toggle2.addEventListener('click', function(){
            items1.style.display="none"
            items2.style.display="block"
            items3.style.display="none"

            toggle2.classList.remove('truthbox-toggle-btn-unselected-colors');
            toggle2.classList.add('truthbox-toggle-btn-selected-colors')

            toggle1.classList.remove('truthbox-toggle-btn-selected-colors');
            toggle1.classList.add('truthbox-toggle-btn-unselected-colors')
            toggle3.classList.remove('truthbox-toggle-btn-selected-colors');
            toggle3.classList.add('truthbox-toggle-btn-unselected-colors')
    })

    toggle3.addEventListener('click', function(){
            items1.style.display="none"
            items2.style.display="none"
            items3.style.display="block"

            toggle3.classList.remove('truthbox-toggle-btn-unselected-colors');
            toggle3.classList.add('truthbox-toggle-btn-selected-colors')

            toggle1.classList.remove('truthbox-toggle-btn-selected-colors');
            toggle1.classList.add('truthbox-toggle-btn-unselected-colors')
            toggle2.classList.remove('truthbox-toggle-btn-selected-colors');
            toggle2.classList.add('truthbox-toggle-btn-unselected-colors')
    })

</script>