<div class="spread-2">
    <div class="spread-2-text-wrapper">
        <h2 class="spread-2-title">
            What is InYPT?
        </h2>
        <p class="spread-2-text">
            Fusce metus tortor, egestas ac nunc non, pretium bibendum orci. Morbi eu enim et dui interdum luctus. Aliquam sodales ex nisl, ac pellentesque purus luctus sed. Suspendisse ut bibendum purus, in ullamcorper lectus. Praesent consectetur nunc non tortor aliquam, id molestie nibh fringilla.
        </p>

    </div>
</div>