<div class="spread-2">
    <div class="spread-2-text-wrapper">
        <h2 class="spread-2-title">
            What is InYPT?
        </h2>
        <p class="spread-2-text">
            The Indian Young Physicists’ Tournament (InYPT) recognises talent in applied physics and research among high school students from India. InYPT provides an opportunity to outstanding students to represent India at the International Young Physicists’ Tournament (IYPT), the world’s most prestigious international pre-college physics tournament.
             InYPT tests the ability of students to solve open-ended physics problems that warrant extensive experimentation, concurring experiments with advanced theory, and harnessing an impeccable scientific method. 

        </p>

    </div>
</div>