<div class="spread-4">

    <div class="spread-4-cards">

        <div class="spread-4-card">
            <div class="spread-4-card-img-wrapper">
                <img class="spread-4-card-img" src="/signup.svg" alt="signup">
            </div>

            <div class="spread-4-card-text-wrapper">

            </div>


        </div>

        <div class="spread-4-card center-card">
            <div class="spread-4-card-img-wrapper">

            </div>

            <div class="spread-4-card-text-wrapper">

            </div>


        </div>

        <div class="spread-4-card">
            <div class="spread-4-card-img-wrapper">

            </div>

            <div class="spread-4-card-text-wrapper">

            </div>


        </div>

    </div>

</div>