<div class="spread-6">

    <div class="row">
        <div class="col-lg-6">
            <div class="spread-6-text-wrapper">
                <h1 class="spread-6-title">Preparing competitive submissions</h1>
        
                <p class="spread-6-text">InYPT’s submission is a report that breaks down an IYPT problem and solves it effectively. 
                    This report is in the form of a presentation and touches parameters like theory, qualitative analysis, quantitative experimentation, and reconciliation of experiments with theory. 
 
                </p>
                <div class="spread-1-buttons">
                    <button type="button" class="primary-btn">Report Quickstart</button>
                </div>
            </div>

        </div>

        <div class="col-lg-6">
            <div class="spread-6-graphic-wrapper">
                <img src="/pasttours.svg" class="spread-6-graphic" alt="">
            </div>

        </div>


    </div>
    
    
    

</div>