<div class="spread-1">
    <div class="spread-1-content-wrapper">
        <div class="row">

            <div class="col-lg-6">
                <img class="spread-1-graphic" src="opening-graphic.svg" alt="">
            </div>
    
            <div class="col-lg-6">
                <h1 class="spread-1-title">
                    Participate in India’s only physics research tournament
                </h1>
                <p class="spread-1-text">Academic competitions for physics in India lack the essential research element. Demonstrate your in-field potential at the Indian Young Physicists’ Tournament. </p>
                <div class="spread-1-buttons">
                    <button type="button" class="primary-btn">Participate Now</button>
                    <button type="button" class="secondary-btn">Regulations</button>
                </div>
            </div>

        </div>
        

    </div>
    
    
</div>