<div class="navbar">
    <div class="navbar-content-wrapper">
        <img class="navbar-logo" src="navbar-logo.svg" alt=""></img>
        <div class="navbar-sections-links">
            
            <div class="navbar-section">
                <span class=""> About </span>
            </div>
            <div class="navbar-section">
                <span class=""> Participate </span>
            </div>
            <div class="navbar-section">
                <span class=""> Portal </span>
            </div>
            
        </div>
    </div>
</div>