<%- include('html-components/head.ejs') %>
<%- include('components/navbar.ejs') %>

<div class="preparing-report-wrapper">
    <h2>How to prepare a competitive report?</h2>
    <p>To assist participants with creating a report that meets InYPT standards, we've prepared this open document. There are 5 key steps in this process.
        Problem Selection, Gathering Research, Approaching the Solution, Preparing your Experiment, and Self Evaluate and Submit. <br>
        The steps below guide you through each of these. Remember, these are only intended to point you in the right direction, there is still a lot of personal effort you will have to put. 
    </p>

    <h4>Step #01 - Problem Selection</h4>
    <ul>
        <li>Study the problem statements of all 17 problems carefully. They're found <a href="/problem" target="/blank">here</a>.
        </li>

        <li>Determine the theoretical expertise required to approach the given problems. <br>
            For e.g. the problem Ring on the Rod requires a fair understanding of aerodynamics.</li>

            <li>Create a mind map about the required resources to conduct experiments beforehand.</li>

            <li>Factor in your skills and strengths and make an appropriate selection for round one. It's your only chance to chose until the finals.
            </li>
    </ul>

    <h4>Step #02 - Gathering Research</h4>
    <ul>
        <li>The problems page at InYPT provides a link to ‘Resources’. Use this as a starting point to find articles, videos, and other relevant literature relating to the problem.
         </li>

        <li>These resources may not be sufficient. You must seek out relevant research yourself by utilising search tools like <a href="https://scholar.google.com" target="/blank"> scholar.google.com</a>. 
        </li>

            <li>Carefully analyse the literature you’ve collected. Read a minimum of 2-3 research papers that directly tackle the selected problem. Papers are notoriously difficult to read - the level of scientific comprehension required is quite high.<br> Try understanding what physics is occuring qualitatively at the very least. </li>

            <li>Do equal amounts of research for preparing your experiment. Building your own setup requires a strong basics in hardware engineering. Utilise tools like <a href="https://www.instructables.com/" target="/blank">instructables.com</a> for utilising your building process.
            </li>
    </ul>

    <h4>Step #03 - Approaching an InYPT Solution</h4>
    <ul>
        <li>The main approach is no different from approaching any research that is pointed towards understanding what is occurring physically.
            <ul>
                <li>Employing the steps of physical modelling is key.<br> There are several approaches, and we will be discussing one of them for the sake of this document.</li>
                <li>The sections for the approach we'll be providing are <em>Theory, Qualitative Interpretation, Physical Modelling and Experimental Comparison, and Conclusion.</em> <u>You may use these as the titles of sections in your presentation report.</u>
                </li>
                <br>

                <strong>Theory</strong> - Collecting research is only the beginning of the theoretical process. 
                    <ul>
                        <li>Employing the steps of physical modelling is key.<br> There are several approaches, and we will be discussing one of them for the sake of this document.</li>
                        <li>The sections for those include Theory, Qualitative Interpretation, Physical Modelling and Experimental Comparison, and Conclusion. 
                        </li>
                    </ul>
                    <br>
                    <strong>Qualitative Interpretation</strong> - Qualitatively explaining the interaction between forces, why the ball rises, why the disk rotates, or why the surface tension is essential. 
                    <ul>
                        <li>This section must demonstrate a good depth in your understanding of the problem.<br> The interaction between the elements of the problem is a great way to begin this part of the problem.</li>
                        <li>Connect qualitative diagrams like free body drawings with physical equations and other theories in this part as well.
                        </li>
                    </ul>

                    <br>

                    <strong>Modelling and Experimentation</strong> - Modelling is where application of the theory comes in and the experiments symbiotically modify your solution to a more accurate one. 
                    <ul>
                        <li>Enunciating a complex physical phenomenon into a tangible equation is extremely difficult.<br> The best way forward is to understand the equations and simulations written in research papers and replicate them to the extent you best understand. 
                        </li>
                        <li>Models are mainly of two types - equation based and simulation based. However, the simulation based model derives its power from a governing equation. 

                        </li>
                        <li>Condensing your theoretical understanding into an equation or model is a complex process that must be researched by you depending on the problem at hand.</li>
                        <li>This process works in sync with experimentation. Either <u>determining a model based on experimentation</u> or <u>verifying models using experiments,</u> both approaches are valid.<br> What is imperative, however, is the role of a well defined controlled experiment that yields a solid answer to the problem.</li>
                    </ul>
                    <br>
                    <strong>Conclusion</strong> - The model you’ve generated from the previous step requires some final analysis. 
                    <ul>
                        <li>Discuss when the model works, quantitative analysis of the model, under what circumstances does the model break, and general limitations are a few to name. 
                        </li>
                        <li>Models are mainly of two types - equation based and simulation based. However, the simulation based model derives its power from a governing equation. 

                        </li>
                        <li>Condensing your theoretical understanding into an equation or model is a complex process that must be researched by you depending on the problem at hand.</li>
                        <li>This sums up your work; always demonstrate a clear sync between your experimentation and theory.</li>
                        <li> Demonstrate just how close your work is to answering the problem statement.</li>
                    </ul>
            </ul>
         </li>
    </ul>


    <h4>Step #04 - Preparing your Experiment</h4>
    <ul>
        <li>What sets this competition out from other tournaments concerning the pure sciences is the element of experimentation. It is essential to contribute to some experimentation in the solutions of your problems.
         </li>

        <li>Learn the basic building skills to make your experimental setup - working with basic tools, preparing mounts, setting up your camera (phone), and other requirements.
         </li>

            <li>Seek help from mentors, peers, and hardware engineers around you (carpenters, electricians, etc) to set up your actual experiments.</li>

            <li>Be aware of adding controls to your experiment. If you’re testing the impact of a change in frequency on a rope, make sure the amplitude and other environmental factors remain unchanged while changing frequency. 
            </li>
            <li>Demonstrate a good relationship between your theory and your experiments. <br> For e.g. if you discuss the impact of a change in humidity in your theory, demonstrate a corresponding experiment that varies humidity. 
            </li>
    </ul>

    <h4>Step #05 - Self Evaluate and Submit</h4>
    <ul>
        <li>You are your toughest critic. InYPT provides you with the <a href="/rules#scoresheet" target="/blank">scoresheet</a> that evaluates your work.<br>
            Ask yourself if you’ve done your best in each scoring metric and change aspects of your report accordingly. Your assessment will certainly benefit if you keep the scoring aspects in mind. 
         </li>
         
    </ul>

</div>

<%- include('html-components/foot.ejs') %>