<%- include('html-components/head.ejs') %>

<div class="problem-page">
    <h1 class="problem-page-title">
        32nd IYPT <strong>Problems</strong>  
    </h1>
    <%- include('components/problems/problem-template.ejs', {cardTitle: "#01 - Invent Yourself", problemText:"Create a non-invasive device that determines the direction of fluid flow inside an opaque pipe. Optimise your device so that you can measure the smallest flow possible.", subjectMatter: "Fluid Mechanics, Engineering, General Mechanics.", problemLink:"https://stemfellowship.org/iypt-references/problem1/"}) %>
    
</div>

<%- include('html-components/foot.ejs') %>