<div class="about-spread-1-wrapper">
    <div class="container-fluid about-spread-1-image-div">
        <img src="/airplanebird-about.svg" alt="lab" class="about-spread-1-image">
    </div>

    <div class="container-fluid about-spread-1-text-div">
        <h2 class="about-spread-1-title">
            Skill Enrichment

        </h2>

        <p class="about-spread-1-text">
            Despite InYPT expecting you to only fulfill the solution of the problems in the initial stages, which makes participation easier, learning how to make an impactful solution comes with a steep learning curve. 
            To facilitate this, we’ve created two resources. This page lists out all the proper steps in building a competitive solution. Apply these and your presentation will certainly benefit. 

        </p>
        <p class="about-spread-1-text">
            The second resource aims to provide video-modules that teach you about the new competition - the InYPT Academy. You can find it after logging into your portal account.
            You can create a login by simply registering here. The academy consists of video modules that teach you the art of IYPT. These go further in depth about what’s been explained earlier. 
    </p>

    </div>
</div>