<!-- about page heading div -->



<div class="about-spread-1-wrapper">
    <div class="container-fluid about-spread-1-image-div">
        <img src="/experimentlab-about.svg" alt="lab" class="about-spread-1-image">
    </div>

    <div class="container-fluid about-spread-1-text-div">
        <h2 class="about-spread-1-title">
            What is InYPT?
        </h2>

        <p class="about-spread-1-text">
            The Indian Young Physicists’ Tournament (InYPT) recognises talent in applied physics and research among highschool students from India. 
            InYPT provides an opportunity to outstanding students to represent India at the International Young Physicists’ Tournament (IYPT), the world’s most prestigious international pre-college physics tournament. 
            InYPT tests the ability of students to solve open-ended physics problems that warrant extensive experimentation, concurring experiments with advanced theory, and harnessing an impeccable scientific method. 

        </p>
        <p class="about-spread-1-text">
            <strong>The top 5 performers are offered a spot on the Indian Team at the International Tournament.</strong> Others are considered in the chance of their incapability to participate.  Note that participation at IYPT for Team India is contingent on a few financial conditions - you can find them here.
             The tournament emphasises on true-research which often involves several methods of approach. Theory is expected to be at a level higher than highschool. Experiments are required to support qualitative analysis. The tournament perpetually soughts to be a learning experience for all its participants.

        </p>

    </div>
</div>