<!-- about page heading div -->



<div class="about-spread-1-wrapper">
    <div class="container-fluid about-spread-1-image-div">
        <img src="/experimentlab-about.svg" alt="lab" class="about-spread-1-image">
    </div>

    <div class="container-fluid about-spread-1-text-div">
        <h2 class="about-spread-1-title">
            What is InYPT?
        </h2>

        <p class="about-spread-1-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis tristique orci, ut venenatis nisl. Cras efficitur sed libero, tristique orci, ut venenatis nisl.
             Cras efficitur sed libero  tristique orci, ut venenatis nisl. Cras efficitur sed libero is an online tour
        </p>
        <p class="about-spread-1-text">
            <strong>The top 5 performs are offered a spot on the Indian Team at the International Tournament.</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis tristique orci, ut venenatis nisl. Cras efficitur sed libero, tristique orci, ut venenatis nisl. Cras efficitur sed libero  
            tristique orci, ut venenatis nisl. Cras efficitur sed libero When? Timeline on homepage
        </p>

    </div>
</div>