<div class="about-spread-1-wrapper">
    <div class="container-fluid about-spread-1-image-div">
        <img src="/tools-about.svg" alt="lab" class="about-spread-1-image">
    </div>

    <div class="container-fluid about-spread-1-text-div">
        <h2 class="about-spread-1-title">
            Physics Fight Format

        </h2>

        <p class="about-spread-1-text">
            There are three main roles in an IYPT Physics Fight. They are:
            <ul>
                <li>Reporter</li>
                <li>Opponent</li>
                <li>Reviewer</li>
            </ul>

        </p>
        <p class="about-spread-1-text">
            The Reporter presents the essence of the solution to the problem, attracting the attention of the audience to the main physical ideas and conclusions.
    The Opponent puts questions to the Reporter and criticizes the report, pointing to possible inaccuracy and errors in the understanding of the problem and in the solution.
    The Reviewer assesses the performance of both the Reporter and the Opponent and works to draw out the strengths and weaknesses in their roles.

    <br>
    <br>
    For the submission rounds of InYPT - Round 1 and Round 2 - we will only focus on the matter required to fulfill the <em>role of the Reporter</em>. No physical presentation is required. 
    Participants aren’t expected to speak in these submissions. These rounds are an evaluation of your static work which will be accepted in the form of a presentation. 
    </p>

    </div>
</div>