<div class="preparing-step-div">
    <div class="preparing-step-button-wrapper"><img class="preparing-step-button" src="/step-1.svg" alt=""></div>
    
    <h2 class="preparing-step-title">Register and Login to your portal</h2>
    <p class="preparing-step-text"> faucibus orci luctus et ultrices posuere cubilia curae; Sed condimentum eu nisi non cursus. Nunc s</p>
</div>