<div class="preparing-step-div">
    <div class="preparing-step-button-wrapper"><img class="preparing-step-button" src="/step-1.svg" alt=""></div>
    
    <h2 class="preparing-step-title">Register and Login to your portal</h2>
    <p class="preparing-step-text"> The InYPT Portal is the one-stop destination for getting up and running. Access your dashboard to find the InYPT Academy and the File Submission pages. Learn about IYPT and your submission at the Academy  </p>
</div>