<div class="row preparing-spread-1">
    <div class="col-lg-4">
        <img class="preparing-spread-1-img" src="/preparing-graphic.svg" alt="">

    </div>

    <div class="col-lg-8">
        <div class="preparing-spread-1-text-wrapper">
            <h2 class="preparing-spread-1-titles">
                How to participate?
            </h2>
            <p class="preparing-spread-1-text">faucibus orci luctus et ultrices posuere cubilia curae; Sed condimentum eu nisi 
                non cursus. Nunc suscipit, justo eget mattis commodo, dolor augue beware of dates non arcu. </p>

                <h2 class="preparing-spread-1-titles">
                    What is the Physics Fight Format? When should we learn it?
                </h2>
                <p class="preparing-spread-1-text">faucibus orci luctus et ultrices posuere cubilia curae; Sed condimentum eu nisi 
                    non cursus. Nunc suscipit, justo eget mattis commodo, dolor augue beware of dates non arcu. </p>
        </div>
    </div>
</div>