<div class="preparing-step-wrapper">
<div class="preparing-step-div">
    <div class="preparing-step-button-wrapper"><img class="preparing-step-button" src="/step-1.svg" alt=""></div>
    
    <h2 class="preparing-step-title">Register and Login to your portal</h2>
    <p class="preparing-step-text"> To participate, you must simply <a href="https://inypt-participant-dash.herokuapp.com/register" target="/blank">register</a> with InYPT and send in your submission for the submission round. The first deadline is 5th November. By registering, you gain access to the <a href="https://inypt-participant-dash.herokuapp.com/" target="/blank">InYPT Portal</a>. 
         The Portal has your dashboard, the InYPT Academy, and the File Submission sections.</p>
</div>


<div class="preparing-step-div">
    <div class="preparing-step-button-wrapper"><img class="preparing-step-button" src="/step-2.svg" alt=""></div>
    
    <h2 class="preparing-step-title">Prepare a stellar InYPT Solution</h2>
    <p class="preparing-step-text"> As stated multiple times, InYPT is a fairly new concept. To bridge that gap, we've provided a couple of powerful resournces to help you through. Head to <a href="https://inypt-participant-dash.herokuapp.com/academy" target="/blank">InYPT Academy</a> on you portal to learn about the format of the tournament. <br> 
        Review this <a href="/preparing-report" target="_blank">5 step document</a> that guides you through producing a compelling solution. 
    </p>
</div>

<div class="preparing-step-div">
    <div class="preparing-step-button-wrapper"><img class="preparing-step-button" src="/step-3.svg" alt=""></div>
    
    <h2 class="preparing-step-title">Review your Work and Submit!</h2>
    <p class="preparing-step-text"> Hold the <a href="/rules#scoresheet" target="_blank">scoresheet</a> to your work. Ask yourself if you’ve done your absolute best
        in each criterion of your report. Make the necessary adjustments, and submit your work via the Portal. Stay confident! 
    </p>
</div>
</div>