<div class="row preparing-spread-1">
    

    <div class="col-lg-12">
        <div class="preparing-spread-1-text-wrapper">
            <h2 class="preparing-spread-1-titles">
                How to participate?
            </h2>
            <p class="preparing-spread-1-text">To participate, you must simply register with InYPT and send in your submission for the first round. By registering, you gain access to the InYPT Portal. 
                Resources on understanding the competition and creating competitive reports are freely provided - access InYPT Academy via your Portal. 
                Once you're ready to submit, head over to the submission page on the Portal. 

                <strong>Follow the steps given below to make the most of your participation!</strong>
            </p>

                <h2 class="preparing-spread-1-titles">
                    What are the deadlines, regulations, and other details?
                </h2>
                <p class="preparing-spread-1-text">Details about rules, deadlines, and regulations are provided <a href="/rules">here</a>. The submission is typically in the format of a presentation. We have a strong policy against plagerism, so do make sure to cite others' work if you're doing so.
                <br><strong>Round 1 Submission Deadline:  2nd November, 2021. <br> Round 2 Submission Deadline:  4th December, 2021. </strong></p>
                
                Note that both these rounds are elimination rounds. 
                Round 3 will pursue an entirely different format, and shortlisted participants will be provided ample material for the same. 
            
        </div>
    </div>
</div>