<div class="row preparing-spread-1">
    

    <div class="col-lg-12">
        <div class="preparing-spread-1-text-wrapper">
            <h2 class="preparing-spread-1-titles">
                Recap
            </h2>
            <p class="preparing-spread-1-text"> 
                

                <ul>
                    <li>Register <a href="https://inypt-participant-dash.herokuapp.com/register" target="_blank">here</a> and access your <a href="https://inypt-participant-dash.herokuapp.com/" target="_blank">Portal</a>.</li>
                    <li>Once you sign-in, access InYPT Academy to learn more about the tournament.</li>
                
                <li>Review the <a href="/preparing-report" target="_blank"> Preparing Report Page</a> to learn more about preparing a competitive report.</li>
                
                <li>Prepare your report and once you're ready to submit, head over to the submission page on the Portal.</li> 
                
               
                </ul>
               
                
            </p>

                <h2 class="preparing-spread-1-titles">
                    What are the deadlines, regulations, and other details?
                </h2>
                <p class="preparing-spread-1-text">Details about rules, deadlines, and regulations are provided <a href="/rules">here</a>.
                <br><strong>Round 1 Submission Deadline:  5th November, 2021. <br> Round 2 Submission Deadline:  10th December, 2021. </strong></p>
                
                Note that both these rounds are elimination rounds. 
                Round 3 will pursue an entirely different format, and shortlisted participants will be provided ample material for the same. 
            
        </div>
    </div>
</div>