html, body{
    background: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

h1, h2, h3, p{
    font-family: 'Poppins', sans-serif;
}

.page-padding{
    padding: 5% 15%;
}

@media (max-width: 991.98px) { 
    .spread-1-graphic{
        scale: 0.95 !important;
        margin-bottom: 2rem;
        margin-left: -1rem;
    }
    .spread-1-content-wrapper{
        width: 100%;
    }
    .spread-6-graphic-wrapper{
        display: none;
    }
}

/* Use while refactoring. All pages have this form of padding */

/* NAVBAR STYLES */



/* END OF NAVBAR STYLES */

/* HOME PAGE STYLES */

/* Spread 1 */


.nav-item{
    margin-right: 3rem;
}
.spread-1{
    
    
    width: 100%;
    padding: 1% 0;

    position: relative;
    top: 10%;
    
    background: #FFFCF3;
    z-index: 0;
    
    
}

.spread-1-content-wrapper{
    width: 80%;
    margin: 70px auto;
    display: flex;
}

/* .spread-1-graphic-wrapper, .spread-1-text-wrapper{
    display: inline-block;
} */

.spread-1-graphic-wrapper{
    width: 40%;
    margin-top: 1rem;
    margin-left: 2rem;
}

.spread-1-text-wrapper{
    width: 55%;
    margin-left: 2rem;
}

.spread-1-graphic{
    scale: 1.18;
}

.spread-1-title{
    font-weight: 600;
font-size: 40px;
margin-bottom: 1rem;


}

.spread-1-text{
    font-weight: normal;
font-size: 20px;

}

.spread-1-buttons{
    margin-top: 2rem;
}

.primary-btn{
    padding: 3% 5%;
    height: 60px;
    background: linear-gradient(113.2deg, #2957F8 -14.73%, rgba(255, 255, 255, 0.15) 132.29%), rgba(159, 0, 163, 0.96);
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    
    align-items: center;

    /* White */

    color: #FFFFFF;
}

.secondary-btn{
    padding: 3% 5%;
    margin-left: 2rem;
    height: 60px;
    background: #aaaaaa;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.15));
    border-radius: 10px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    
    align-items: center;

    /* White */

    color: #FFFFFF;

}

/* END OF Spread 1 */

/* Spread 2 */
.spread-2{
    display: block;
    text-align: center;
    
    padding: 7% 0;
  
}

.spread-2-text-wrapper{
    width: 80%;
    margin: auto;
}

.spread-2-title{
    font-family: Poppins;
margin: 1.5rem 0;
font-weight: 500;
font-size: 36px;

}

.spread-2-text{
    font-family: Poppins;
    font-size: 16px;
    
}

/* Spread 3 */
.spread-3{
    /* background: #F0EFEB; */
    background: #FFFEDC;
    padding: 5% 0;

}

.spread-3-title{
    font-weight: 500;
font-size: 36px;
text-align: center;
text-shadow: 2px 2px 0px #FF725E;
padding: 0 10%;


}


.spread-3-truthbox{
    background: #FFFCF3;
    /* Normal Card State */
    margin: 2rem auto;
    padding: 4%;
    width: 80%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.spread-3-truthbox-title{
    font-size: 18px;
    font-weight: 600;
}

.spread-3-truthbox-text{
    font-size: 14px;
    margin-bottom: 0%;
}

.truthbox-2, .truthbox-3{
    display: none;
}

.truthbox-toggle-buttons{
    width: 87%;
    margin: 0% auto;
    
}

.toggle-btn-wrapper{
    text-align: center;
    margin: 1rem 0;
}

.truthbox-toggle-btn{
    width: 90%;
    height: 6.5rem;
    margin: 0 auto;
    display: inline-flex;

/* Normal Card State */

box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
border-radius: 10px;

transition: all 0.3s ease 0s;

}

.truthbox-toggle-btn-unselected-colors{
    color: #FFFCF3;
    background: #706C61;
}

.truthbox-toggle-btn-selected-colors{
    color: #2A2B2A;
    background: #F8F4E3;
    border: solid 1px #777777;
    scale: 1.05;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.30);
}

.truthbox-toggle-btn-unselected-colors:hover{
    scale: 1.02;
    background: #49463f;
}

.center-toggle-btn{
    margin: 0 1.5%;
}

.truthbox-toggle-btn-img{
    width: 115px;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    text-align: left;
    
}

.truthbox-btn-img-vector{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px 0px 0px 10px;
}

.truthbox-toggle-btn-text{
    width: 50%;
    text-align: left;
    margin: auto;
    margin-left: 1rem;
    display: inline-block;
    transition: all 0.3s ease 0s;           
}

.truthbox-btn-text-title{
font-size: 18px;

margin-bottom: 0%;

}

.truthbox-btn-text-para{
    font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height */

margin: 5px 0;
}

/* Spread 4 */

.spread-4{
    margin: 5rem 0;
    padding: 5% 0;
    margin-bottom: 2rem;
}
.spread-4-cards{
    width: 80%;
    margin: 0% auto;
    display: flex;
}

.spread-4-card{
    height: 27rem;
    width: 100%;
    background: #F8F4E3;
    margin: 1rem 0;
    
/* Card Normal State */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    transition: all 0.3s ease 0s;     
}

.spread-4-card:hover{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);

}

.spread-4-card-text-wrapper{
    padding: 5%;
}

.spread-4-card-title{
    font-size: 20px;
}

.spread-4-card-para{
    font-size: 14px;
}



.spread-4-card-img-wrapper{
    display: block;
    width: 100%;
    height: 50%;
}

.spread-4-card-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}




/* Spread 5 */

.spread-5-timeline-wrapper{
    text-align: center;
    
}

.spread-5-timeline{
    max-width: 80%;
   
}

.spread-5-title{
    font-weight: 500;
font-size: 36   px;
line-height: 72px;
text-align: center;

margin-bottom: 4%;
}

/* Spread 6  */

.spread-6{
    margin: 5rem 2%;
    padding: 5% 0;
    display: flex   ;
}

.spread-6-text-wrapper{
    width: 100%;
    display: inline-block;
    padding: 5%;
    padding-top: 0%;
}

.spread-6-title{
    font-weight: 600;
    font-size: 40px;
    margin: 0%;
    margin-bottom: 1rem;
    
}

.spread-6-text{
    font-weight: normal;
    font-size: 20px;
}

.spread-6-graphic-wrapper{
    width: 100%;
}

.spread-6-graphic{
    max-width: 100%;
    max-height: 100%;
}

/* ABOUT PAGE */

.page-heading-wrapper{
    width: 100%;
    height: 10rem;
    background: #E9F3F3;

}

.page-heading{
    font-weight: 300;
font-size: 64px;
line-height: 10rem;
/* identical to box height */

text-align: center;

/* BG Black */

color: #2A2B2A;
}

.about-spread-1-wrapper{
    padding: 5%;
}

.about-spread-1-image-div{
    text-align: center;
    height: 350px;
}

.about-spread-1-image{
    max-width: 100%;
    max-height: 100%;
}

.about-spread-1-text-div{
    padding: 2% 15%; 
}

.about-spread-1-title{
text-align: center;
font-weight: 500;
font-size: 40px;
line-height: 72px;
margin: 2% 0;
}

.about-spread-1-text{
    font-size: 18px;
line-height: 35px;

}





/* RULES and REGULATIONS PAGE */

/* Repeat the side padding for now */

.rules-spread-1-wrapper{
    padding: 5% 10%;
}

.rules-spread-1-title{
    font-weight: 500;
font-size: 40px;
line-height: 72px;
/* identical to box height */


color: #4D4D4D;

text-shadow: 3px 3px 0px #E5446D;
}

.rules-spread-1-textintro{
    
}

.rules-spread-1-anchorlinks{
    position: relative;
}

.rules-spread-1-anchorlinks-wrapper{
    margin-left: 10%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.rules-spread-1-anchorlinks-wrapper > a{
    display: block;
    margin-top: 1rem;
}

.rules-text-title{
    font-weight: 500;
font-size: 40px;
line-height: 72px;
/* identical to box height */


color: #FFFFFF;

text-shadow: 3px 3px 0px #E5446D;
}

.rules-text-subtitle{
    font-weight: 600;
font-size: 11px;
line-height: 21px;
letter-spacing: 0.3em;
color: #FFFFFF;

}

.rules-text-paragraph{
    font-weight: normal;
font-size: 14px;
line-height: 27px;

color: #FFFFFF;

}

.rules-spread-2-wrapper{
    padding: 5% 10%;
    background: #4E4B44;
}



/* Problems page */

.problem-page{
    padding: 5% 15%;
    background: #2A2B2A;
}

.problem-page-title{
    font-weight: 300;
font-size: 48px;
line-height: 65px;
text-align: center;
color: #FFFFFF;
margin-bottom: 3rem;
}

/* problem card */

.problem-card{
   width: 90%;
   margin: 1rem auto;
padding: 4% 5%;
   background: #FFFFFF;
/* Normal Card State */

box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.problem-card-title{
    font-weight: 500;
font-size: 26px;
line-height: 40px;
}

.problem-card-text{
    font-weight: normal;
font-size: 16px;
line-height: 22px;
}

.problem-card-subtitle{
    margin-bottom: 5px;
    font-weight: 300;
font-size: 12px;
line-height: 20px;
/* identical to box height */

letter-spacing: 0.2em;
}

.problem-card-button{
    margin-top: 10px;
    width: 110px;
    height: 30px;
    background: #0075FF;
    border-radius: 15px;
    border: none;

font-weight: normal;
font-size: 12px;
line-height: 18px;
/* identical to box height */


color: #FFFFFF;
}

.problem-card-button:hover{
    background: #50a0fc;

}


/* Preparing Page */

.preparing-page-title{
    padding: 3% 5%;
    background: #fff6ed;

    font-weight: 500;
font-size: 56px;
line-height: 100px;

text-align: center;


/* identical to box height */
color: #424242;
text-shadow: 4px 4px 0px #E5446D;

}

.preparing-spread-1{
    margin-bottom: 4rem;
}

.preparing-spread-1-img{
    max-width: 100%; 
    max-height: 100%;
    margin: auto;
}

.preparing-spread-1-text-wrapper{
    margin: auto 0;
    margin-left: 2rem;
}

.preparing-spread-1-titles{
    font-size: 24px;
    margin: 2rem 0 .5rem 0;
}

.preparing-step-div{
    position: relative;
    width: 90%;
    padding: 2% 4%;
    margin: 3rem auto;
    background: #FFFFED;
border: 3px solid #000000;
box-sizing: border-box;
box-shadow: 7px 8px 0px #000000;
border-radius: 5px;
}

.preparing-step-title{
    font-weight: 500;
font-size: 30px;
}

.preparing-step-text{
    font-size: 20px;
line-height: 36px;
}

.preparing-step-button-wrapper{
    position: absolute;
    width: 120px;
    right: -80px;
    top: -40px;
}

.preparing-step-button{
    max-width: 100%; 
    max-height: 100%;
    margin: auto;
}

